In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
# Shows all columns in dataframe
pd.set_option('display.max_columns', None)

In [3]:
df_info = pd.ExcelFile("./consumption_monthly_NM_221001.xlsx")
df_sheetnames = df_info.sheet_names
df_sheetnames

['2001-2006_FINAL',
 '2007-2011_FINAL',
 '2012_Final',
 '2013_Final',
 '2014_Final',
 '2015_Final',
 '2016_Final',
 '2017_Final',
 '2018_Final',
 '2019_Final',
 '2020_Final',
 '2021_Preliminary',
 '2022_Preliminary',
 'EnergySource_Notes',
 'NM Notes',
 'Headers']

In [4]:
df_sheetnames[1]

'2007-2011_FINAL'

In [5]:
df_dict = {}
for sheet in df_sheetnames:
    df_dict[sheet] = pd.read_excel("./consumption_monthly_NM_221001.xlsx", sheet_name = sheet)

In [6]:
df_dict['2007-2011_FINAL']

,YEAR,MONTH,STATE,TYPE OF PRODUCER,ENERGY SOURCE,CONSUMPTION
0,2007,1,AK,Total Electric Power Industry,Coal (Short Tons),45277.00
1,2007,1,AK,Total Electric Power Industry,Petroleum (Barrels),131715.00
2,2007,1,AK,Total Electric Power Industry,Natural Gas (Mcf),3928812.00
3,2007,1,AK,"Electric Generators, Electric Utilities",Coal (Short Tons),17695.00
4,2007,1,AK,"Electric Generators, Electric Utilities",Petroleum (Barrels),111483.00
...,...,...,...,...,...,...
47457,2011,12,WY,"Electric Generators, Independent Power Producers",Natural Gas (Mcf),8096.00
47458,2011,12,WY,Total Electric Power Industry,Coal (Short Tons),2596524.00
47459,2011,12,WY,Total Electric Power Industry,Natural Gas (Mcf),304415.00
47460,2011,12,WY,Total Electric Power Industry,Other Gases (Billion Btu),172.16
47461,2011,12,WY,Total Electric Power Industry,Petroleum (Barrels),6687.00

In [7]:
df_dict[df_sheetnames[1]]["STATE"]

0        AK
1        AK
2        AK
3        AK
4        AK
         ..
47457    WY
47458    WY
47459    WY
47460    WY
47461    WY
Name: STATE, Length: 47462, dtype: object

In [8]:
df_dict[df_sheetnames[1]].loc[df_dict[df_sheetnames[1]]["STATE"] == "MD"]

,YEAR,MONTH,STATE,TYPE OF PRODUCER,ENERGY SOURCE,CONSUMPTION
296,2007,1,MD,Total Electric Power Industry,Coal (Short Tons),1095532.00
297,2007,1,MD,Total Electric Power Industry,Petroleum (Barrels),107089.00
298,2007,1,MD,Total Electric Power Industry,Natural Gas (Mcf),659234.00
299,2007,1,MD,Total Electric Power Industry,Other Gases (Billion BTU),356.46
300,2007,1,MD,"Electric Generators, Electric Utilities",Petroleum (Barrels),2669.00
...,...,...,...,...,...,...
41793,2011,12,MD,"Electric Generators, Independent Power Producers",Petroleum (Barrels),45889.00
41794,2011,12,MD,Total Electric Power Industry,Coal (Short Tons),553983.00
41795,2011,12,MD,Total Electric Power Industry,Natural Gas (Mcf),816158.00
41796,2011,12,MD,Total Electric Power Industry,Other Gases (Billion Btu),153.78
41797,2011,12,MD,Total Electric Power Industry,Petroleum (Barrels),47947.00

In [9]:
sheet = '2007-2011_FINAL'
df_dict[sheet].loc[df_dict[sheet]["STATE"] == "MD"]

,YEAR,MONTH,STATE,TYPE OF PRODUCER,ENERGY SOURCE,CONSUMPTION
296,2007,1,MD,Total Electric Power Industry,Coal (Short Tons),1095532.00
297,2007,1,MD,Total Electric Power Industry,Petroleum (Barrels),107089.00
298,2007,1,MD,Total Electric Power Industry,Natural Gas (Mcf),659234.00
299,2007,1,MD,Total Electric Power Industry,Other Gases (Billion BTU),356.46
300,2007,1,MD,"Electric Generators, Electric Utilities",Petroleum (Barrels),2669.00
...,...,...,...,...,...,...
41793,2011,12,MD,"Electric Generators, Independent Power Producers",Petroleum (Barrels),45889.00
41794,2011,12,MD,Total Electric Power Industry,Coal (Short Tons),553983.00
41795,2011,12,MD,Total Electric Power Industry,Natural Gas (Mcf),816158.00
41796,2011,12,MD,Total Electric Power Industry,Other Gases (Billion Btu),153.78
41797,2011,12,MD,Total Electric Power Industry,Petroleum (Barrels),47947.00

In [10]:
df_md = pd.DataFrame()

for sheet in df_sheetnames:
    if sheet[0:2] == '20':
        print("Processing worksheet: ", sheet)
#         df_md = df_md.append(df_dict[sheet].loc[df_dict[sheet]["STATE"] == "MD"])  # .append method is deprecated
        df_sheet = df_dict[sheet].loc[df_dict[sheet]["STATE"] == "MD"]
        df_md = pd.concat([df_md, df_sheet])

Processing worksheet:  2001-2006_FINAL
Processing worksheet:  2007-2011_FINAL
Processing worksheet:  2012_Final
Processing worksheet:  2013_Final
Processing worksheet:  2014_Final
Processing worksheet:  2015_Final
Processing worksheet:  2016_Final
Processing worksheet:  2017_Final
Processing worksheet:  2018_Final
Processing worksheet:  2019_Final
Processing worksheet:  2020_Final
Processing worksheet:  2021_Preliminary
Processing worksheet:  2022_Preliminary

In [11]:
df_md

,YEAR,MONTH,STATE,TYPE OF PRODUCER,ENERGY SOURCE,CONSUMPTION
279,2001,1,MD,Total Electric Power Industry,Coal (Short Tons),1080740.0
280,2001,1,MD,Total Electric Power Industry,Petroleum (Barrels),681862.0
281,2001,1,MD,Total Electric Power Industry,Natural Gas (Mcf),420200.0
282,2001,1,MD,Total Electric Power Industry,Other Gases (Billion BTU),518.0
283,2001,1,MD,"Electric Generators, Electric Utilities",Petroleum (Barrels),37102.0
...,...,...,...,...,...,...
4110,2022,6,MD,"Electric Generators, Independent Power Producers",Coal (Short Tons),143592
4111,2022,6,MD,"Electric Generators, Independent Power Producers",Natural Gas (Mcf),7236472
4112,2022,6,MD,"Electric Generators, Independent Power Producers",Petroleum (Barrels),34075
4113,2022,6,MD,"Electric Generators, Electric Utilities",Natural Gas (Mcf),3125789
4114,2022,6,MD,"Electric Generators, Electric Utilities",Petroleum (Barrels),598

In [12]:
len(df_md)

4502

In [13]:
df_md.describe

<bound method NDFrame.describe of       YEAR  MONTH STATE                                  TYPE OF PRODUCER  \
279   2001      1    MD                     Total Electric Power Industry
280   2001      1    MD                     Total Electric Power Industry
281   2001      1    MD                     Total Electric Power Industry
282   2001      1    MD                     Total Electric Power Industry
283   2001      1    MD           Electric Generators, Electric Utilities
...    ...    ...   ...                                               ...
4110  2022      6    MD  Electric Generators, Independent Power Producers
4111  2022      6    MD  Electric Generators, Independent Power Producers
4112  2022      6    MD  Electric Generators, Independent Power Producers
4113  2022      6    MD           Electric Generators, Electric Utilities
4114  2022      6    MD           Electric Generators, Electric Utilities

                  ENERGY SOURCE CONSUMPTION
279           Coal (Short Tons)   1080740.0
280         Petroleum (Barrels)    681862.0
281           Natural Gas (Mcf)    420200.0
282   Other Gases (Billion BTU)       518.0
283         Petroleum (Barrels)     37102.0
...                         ...         ...
4110          Coal (Short Tons)      143592
4111          Natural Gas (Mcf)     7236472
4112        Petroleum (Barrels)       34075
4113          Natural Gas (Mcf)     3125789
4114        Petroleum (Barrels)         598

[4502 rows x 6 columns]>

In [14]:
df_md.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4502 entries, 279 to 4114
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   YEAR              4502 non-null   int64
 1   MONTH             4502 non-null   int64
 2   STATE             4502 non-null   object
 3   TYPE OF PRODUCER  4502 non-null   object
 4   ENERGY SOURCE     4502 non-null   object
 5   CONSUMPTION       4502 non-null   object
dtypes: int64(2), object(4)
memory usage: 246.2+ KB

In [15]:
df_md['TYPE OF PRODUCER'].unique()

array(['Total Electric Power Industry',
       'Electric Generators, Electric Utilities',
       'Electric Generators, Independent Power Producers',
       'Combined Heat and Power, Electric Power',
       'Combined Heat and Power, Commercial Power',
       'Combined Heat and Power, Industrial Power'], dtype=object)

In [16]:
df_md.to_csv('consumption_monthly_md_221001.csv')

In [17]:
df_md['TYPE OF PRODUCER'].value_counts()

Total Electric Power Industry                       912
Combined Heat and Power, Electric Power             894
Electric Generators, Independent Power Producers    774
Combined Heat and Power, Industrial Power           745
Combined Heat and Power, Commercial Power           667
Electric Generators, Electric Utilities             510
Name: TYPE OF PRODUCER, dtype: int64

In [18]:
df_total_producer_md = df_md.loc[df_md['TYPE OF PRODUCER'] == 'Total Electric Power Industry']

In [19]:
df_total_producer_md

,YEAR,MONTH,STATE,TYPE OF PRODUCER,ENERGY SOURCE,CONSUMPTION
279,2001,1,MD,Total Electric Power Industry,Coal (Short Tons),1080740.0
280,2001,1,MD,Total Electric Power Industry,Petroleum (Barrels),681862.0
281,2001,1,MD,Total Electric Power Industry,Natural Gas (Mcf),420200.0
282,2001,1,MD,Total Electric Power Industry,Other Gases (Billion BTU),518.0
1032,2001,2,MD,Total Electric Power Industry,Coal (Short Tons),954720.0
...,...,...,...,...,...,...
3337,2022,5,MD,Total Electric Power Industry,Natural Gas (Mcf),8437112
3338,2022,5,MD,Total Electric Power Industry,Petroleum (Barrels),13876
4099,2022,6,MD,Total Electric Power Industry,Coal (Short Tons),168559
4100,2022,6,MD,Total Electric Power Industry,Natural Gas (Mcf),11024527
4101,2022,6,MD,Total Electric Power Industry,Petroleum (Barrels),35964

In [20]:
year = 2012
month = 4
df_total_producer_md.loc[(df_total_producer_md['YEAR'] == year) & (df_total_producer_md['MONTH'] == month)]

,YEAR,MONTH,STATE,TYPE OF PRODUCER,ENERGY SOURCE,CONSUMPTION
2621,2012,4,MD,Total Electric Power Industry,Coal (Short Tons),355541
2622,2012,4,MD,Total Electric Power Industry,Natural Gas (Mcf),9011642
2623,2012,4,MD,Total Electric Power Industry,Other Gases (Billion Btu),413.65
2624,2012,4,MD,Total Electric Power Industry,Petroleum (Barrels),19244

In [21]:
year = 2012
df_total_producer_md.loc[((df_total_producer_md['YEAR'] == year) & (df_total_producer_md['ENERGY SOURCE'] == 'Coal (Short Tons)'))]['CONSUMPTION'].sum()

6981310

In [22]:
energy_sources = df_total_producer_md['ENERGY SOURCE'].unique()
for source in energy_sources:
    print("Total Consumption of ", source, " = ", df_total_producer_md.loc[df_total_producer_md['ENERGY SOURCE'] == source]['CONSUMPTION'].sum())

Total Consumption of  Coal (Short Tons)  =  170193957.76999998
Total Consumption of  Petroleum (Barrels)  =  37866569.02
Total Consumption of  Natural Gas (Mcf)  =  927610512.51
Total Consumption of  Other Gases (Billion BTU)  =  51967.619999999995
Total Consumption of  Other Gases (Billion Btu)  =  3316.4600000000005

In [23]:
year = 2020
month = 2
energy_source = 'Coal (Short Tons)'
df_total_producer_md.loc[\
                         (df_total_producer_md['YEAR'] == year) \
                         & (df_total_producer_md['MONTH'] == month) \
                         & (df_total_producer_md['ENERGY SOURCE'] == energy_source)\
                        ].to_dict()

{'YEAR': {1055: 2020},
 'MONTH': {1055: 2},
 'STATE': {1055: 'MD'},
 'TYPE OF PRODUCER': {1055: 'Total Electric Power Industry'},
 'ENERGY SOURCE': {1055: 'Coal (Short Tons)'},
 'CONSUMPTION': {1055: 37557}}

In [24]:
years = df_total_producer_md['YEAR'].unique()
energy_source = 'Coal (Short Tons)'

for year in (years[:-1]):
    yearly_consumption = 0
    for month in range(1,13):
        monthly_consumption = df_total_producer_md.loc[\
                                                       (df_total_producer_md['YEAR'] == year) \
                                                       & (df_total_producer_md['MONTH'] == month) \
                                                       & (df_total_producer_md['ENERGY SOURCE'] == energy_source)\
                                                      ]['CONSUMPTION'].sum()
        yearly_consumption = yearly_consumption + monthly_consumption
        print("For ", year, "/",month, "Energy Source: ", energy_source, "Monthly Consumption = ", monthly_consumption)
    print("yearly Consumption", yearly_consumption)
#     df_yearly_producer_md = df_total_producer_md.loc[\
#                                                      (df_total_producer_md['YEAR'] == year) \
#                                                      & (df_total_producer_md['ENERGY SOURCE'] == 'Coal (Short Tons)')\
#                                                     ]['CONSUMPTION']

For  2001 / 1 Energy Source:  Coal (Short Tons) Monthly Consumption =  1080740.0
For  2001 / 2 Energy Source:  Coal (Short Tons) Monthly Consumption =  954720.0
For  2001 / 3 Energy Source:  Coal (Short Tons) Monthly Consumption =  693170.0
For  2001 / 4 Energy Source:  Coal (Short Tons) Monthly Consumption =  744480.0
For  2001 / 5 Energy Source:  Coal (Short Tons) Monthly Consumption =  850790.0
For  2001 / 6 Energy Source:  Coal (Short Tons) Monthly Consumption =  1018450.0
For  2001 / 7 Energy Source:  Coal (Short Tons) Monthly Consumption =  1069160.0
For  2001 / 8 Energy Source:  Coal (Short Tons) Monthly Consumption =  1130190.0
For  2001 / 9 Energy Source:  Coal (Short Tons) Monthly Consumption =  984040.0
For  2001 / 10 Energy Source:  Coal (Short Tons) Monthly Consumption =  956400.0
For  2001 / 11 Energy Source:  Coal (Short Tons) Monthly Consumption =  890940.0
For  2001 / 12 Energy Source:  Coal (Short Tons) Monthly Consumption =  762060.0
yearly Consumption 11135140.0
For  2002 / 1 Energy Source:  Coal (Short Tons) Monthly Consumption =  848358.0
For  2002 / 2 Energy Source:  Coal (Short Tons) Monthly Consumption =  714269.0
For  2002 / 3 Energy Source:  Coal (Short Tons) Monthly Consumption =  905496.0
For  2002 / 4 Energy Source:  Coal (Short Tons) Monthly Consumption =  959262.0
For  2002 / 5 Energy Source:  Coal (Short Tons) Monthly Consumption =  834630.0
For  2002 / 6 Energy Source:  Coal (Short Tons) Monthly Consumption =  1028645.0
For  2002 / 7 Energy Source:  Coal (Short Tons) Monthly Consumption =  1154053.0
For  2002 / 8 Energy Source:  Coal (Short Tons) Monthly Consumption =  1135417.0
For  2002 / 9 Energy Source:  Coal (Short Tons) Monthly Consumption =  1045824.0
For  2002 / 10 Energy Source:  Coal (Short Tons) Monthly Consumption =  751965.0
For  2002 / 11 Energy Source:  Coal (Short Tons) Monthly Consumption =  923913.0
For  2002 / 12 Energy Source:  Coal (Short Tons) Monthly Consumption =  1063149.0
yearly Consumption 11364981.0
For  2003 / 1 Energy Source:  Coal (Short Tons) Monthly Consumption =  1215868.0
For  2003 / 2 Energy Source:  Coal (Short Tons) Monthly Consumption =  1054439.0
For  2003 / 3 Energy Source:  Coal (Short Tons) Monthly Consumption =  1030857.0
For  2003 / 4 Energy Source:  Coal (Short Tons) Monthly Consumption =  912532.0
For  2003 / 5 Energy Source:  Coal (Short Tons) Monthly Consumption =  615473.0
For  2003 / 6 Energy Source:  Coal (Short Tons) Monthly Consumption =  846599.0
For  2003 / 7 Energy Source:  Coal (Short Tons) Monthly Consumption =  1125083.0
For  2003 / 8 Energy Source:  Coal (Short Tons) Monthly Consumption =  1127439.0
For  2003 / 9 Energy Source:  Coal (Short Tons) Monthly Consumption =  1000528.0
For  2003 / 10 Energy Source:  Coal (Short Tons) Monthly Consumption =  821707.0
For  2003 / 11 Energy Source:  Coal (Short Tons) Monthly Consumption =  967477.0
For  2003 / 12 Energy Source:  Coal (Short Tons) Monthly Consumption =  1134129.0
yearly Consumption 11852131.0
For  2004 / 1 Energy Source:  Coal (Short Tons) Monthly Consumption =  1146549.8
For  2004 / 2 Energy Source:  Coal (Short Tons) Monthly Consumption =  1072104.3
For  2004 / 3 Energy Source:  Coal (Short Tons) Monthly Consumption =  997492.48
For  2004 / 4 Energy Source:  Coal (Short Tons) Monthly Consumption =  824866.16
For  2004 / 5 Energy Source:  Coal (Short Tons) Monthly Consumption =  808606.27
For  2004 / 6 Energy Source:  Coal (Short Tons) Monthly Consumption =  1001419.86
For  2004 / 7 Energy Source:  Coal (Short Tons) Monthly Consumption =  1065153.12
For  2004 / 8 Energy Source:  Coal (Short Tons) Monthly Consumption =  1069404.15
For  2004 / 9 Energy Source:  Coal (Short Tons) Monthly Consumption =  1031355.6
For  2004 / 10 Energy Source:  Coal (Short Tons) Monthly Consumption =  815369.45
For  2004 / 11 Energy Source:  Coal (Short Tons) Monthly Consumption =  770479.52
For  2004 / 12 Energy Source:  Coal (Short Tons) Monthly Consumption =  1005645.24
yearly Consumption 11608445.95
For  2005 / 1 Energy Source:  Coal (Short Tons) Monthly Consumption =  1060447.08
For  2005 / 2 Energy Source:  Coal (Short Tons) Monthly Consumption =  953284.32
For  2005 / 3 Energy Source:  Coal (Short Tons) Monthly Consumption =  969874.88
For  2005 / 4 Energy Source:  Coal (Short Tons) Monthly Consumption =  745843.27
For  2005 / 5 Energy Source:  Coal (Short Tons) Monthly Consumption =  702890.64
For  2005 / 6 Energy Source:  Coal (Short Tons) Monthly Consumption =  1063313.22
For  2005 / 7 Energy Source:  Coal (Short Tons) Monthly Consumption =  1195125.33
For  2005 / 8 Energy Source:  Coal (Short Tons) Monthly Consumption =  1189444.1
For  2005 / 9 Energy Source:  Coal (Short Tons) Monthly Consumption =  1050377.87
For  2005 / 10 Energy Source:  Coal (Short Tons) Monthly Consumption =  970178.72
For  2005 / 11 Energy Source:  Coal (Short Tons) Monthly Consumption =  869980.96
For  2005 / 12 Energy Source:  Coal (Short Tons) Monthly Consumption =  974487.85
yearly Consumption 11745248.24
For  2006 / 1 Energy Source:  Coal (Short Tons) Monthly Consumption =  1062268.56
For  2006 / 2 Energy Source:  Coal (Short Tons) Monthly Consumption =  1040987.18
For  2006 / 3 Energy Source:  Coal (Short Tons) Monthly Consumption =  1034216.15
For  2006 / 4 Energy Source:  Coal (Short Tons) Monthly Consumption =  788264.44
For  2006 / 5 Energy Source:  Coal (Short Tons) Monthly Consumption =  738808.62
For  2006 / 6 Energy Source:  Coal (Short Tons) Monthly Consumption =  990557.73
For  2006 / 7 Energy Source:  Coal (Short Tons) Monthly Consumption =  1193539.04
For  2006 / 8 Energy Source:  Coal (Short Tons) Monthly Consumption =  1173645.92
For  2006 / 9 Energy Source:  Coal (Short Tons) Monthly Consumption =  898236.42
For  2006 / 10 Energy Source:  Coal (Short Tons) Monthly Consumption =  988832.7
For  2006 / 11 Energy Source:  Coal (Short Tons) Monthly Consumption =  823725.42
For  2006 / 12 Energy Source:  Coal (Short Tons) Monthly Consumption =  954520.4
yearly Consumption 11687602.58
For  2007 / 1 Energy Source:  Coal (Short Tons) Monthly Consumption =  1095532.0
For  2007 / 2 Energy Source:  Coal (Short Tons) Monthly Consumption =  1085027.0
For  2007 / 3 Energy Source:  Coal (Short Tons) Monthly Consumption =  997017.0
For  2007 / 4 Energy Source:  Coal (Short Tons) Monthly Consumption =  760100.0
For  2007 / 5 Energy Source:  Coal (Short Tons) Monthly Consumption =  887682.0
For  2007 / 6 Energy Source:  Coal (Short Tons) Monthly Consumption =  1049890.0
For  2007 / 7 Energy Source:  Coal (Short Tons) Monthly Consumption =  1116025.0
For  2007 / 8 Energy Source:  Coal (Short Tons) Monthly Consumption =  1142483.0
For  2007 / 9 Energy Source:  Coal (Short Tons) Monthly Consumption =  923424.0
For  2007 / 10 Energy Source:  Coal (Short Tons) Monthly Consumption =  877195.0
For  2007 / 11 Energy Source:  Coal (Short Tons) Monthly Consumption =  923983.0
For  2007 / 12 Energy Source:  Coal (Short Tons) Monthly Consumption =  1079160.0
yearly Consumption 11937518.0
For  2008 / 1 Energy Source:  Coal (Short Tons) Monthly Consumption =  1091608.0
For  2008 / 2 Energy Source:  Coal (Short Tons) Monthly Consumption =  1037845.0
For  2008 / 3 Energy Source:  Coal (Short Tons) Monthly Consumption =  996722.0
For  2008 / 4 Energy Source:  Coal (Short Tons) Monthly Consumption =  674978.0
For  2008 / 5 Energy Source:  Coal (Short Tons) Monthly Consumption =  625605.0
For  2008 / 6 Energy Source:  Coal (Short Tons) Monthly Consumption =  1036161.0
For  2008 / 7 Energy Source:  Coal (Short Tons) Monthly Consumption =  1165343.0
For  2008 / 8 Energy Source:  Coal (Short Tons) Monthly Consumption =  1015658.0
For  2008 / 9 Energy Source:  Coal (Short Tons) Monthly Consumption =  940489.0
For  2008 / 10 Energy Source:  Coal (Short Tons) Monthly Consumption =  704405.0
For  2008 / 11 Energy Source:  Coal (Short Tons) Monthly Consumption =  775186.0
For  2008 / 12 Energy Source:  Coal (Short Tons) Monthly Consumption =  1034391.0
yearly Consumption 11098391.0
For  2009 / 1 Energy Source:  Coal (Short Tons) Monthly Consumption =  1156614.0
For  2009 / 2 Energy Source:  Coal (Short Tons) Monthly Consumption =  885942.0
For  2009 / 3 Energy Source:  Coal (Short Tons) Monthly Consumption =  842757.0
For  2009 / 4 Energy Source:  Coal (Short Tons) Monthly Consumption =  817436.0
For  2009 / 5 Energy Source:  Coal (Short Tons) Monthly Consumption =  770360.0
For  2009 / 6 Energy Source:  Coal (Short Tons) Monthly Consumption =  840767.0
For  2009 / 7 Energy Source:  Coal (Short Tons) Monthly Consumption =  921551.0
For  2009 / 8 Energy Source:  Coal (Short Tons) Monthly Consumption =  971950.0
For  2009 / 9 Energy Source:  Coal (Short Tons) Monthly Consumption =  538130.0
For  2009 / 10 Energy Source:  Coal (Short Tons) Monthly Consumption =  528511.0
For  2009 / 11 Energy Source:  Coal (Short Tons) Monthly Consumption =  505714.0
For  2009 / 12 Energy Source:  Coal (Short Tons) Monthly Consumption =  1066966.0
yearly Consumption 9846698.0
For  2010 / 1 Energy Source:  Coal (Short Tons) Monthly Consumption =  978102.0
For  2010 / 2 Energy Source:  Coal (Short Tons) Monthly Consumption =  902726.0
For  2010 / 3 Energy Source:  Coal (Short Tons) Monthly Consumption =  780192.0

For  2010 / 4 Energy Source:  Coal (Short Tons) Monthly Consumption =  501515.0
For  2010 / 5 Energy Source:  Coal (Short Tons) Monthly Consumption =  703904.0
For  2010 / 6 Energy Source:  Coal (Short Tons) Monthly Consumption =  936633.0
For  2010 / 7 Energy Source:  Coal (Short Tons) Monthly Consumption =  1100477.0
For  2010 / 8 Energy Source:  Coal (Short Tons) Monthly Consumption =  1021834.0
For  2010 / 9 Energy Source:  Coal (Short Tons) Monthly Consumption =  779683.0
For  2010 / 10 Energy Source:  Coal (Short Tons) Monthly Consumption =  551206.0
For  2010 / 11 Energy Source:  Coal (Short Tons) Monthly Consumption =  580271.0
For  2010 / 12 Energy Source:  Coal (Short Tons) Monthly Consumption =  1049315.0
yearly Consumption 9885858.0
For  2011 / 1 Energy Source:  Coal (Short Tons) Monthly Consumption =  1081372.0
For  2011 / 2 Energy Source:  Coal (Short Tons) Monthly Consumption =  694006.0
For  2011 / 3 Energy Source:  Coal (Short Tons) Monthly Consumption =  783847.0
For  2011 / 4 Energy Source:  Coal (Short Tons) Monthly Consumption =  554356.0
For  2011 / 5 Energy Source:  Coal (Short Tons) Monthly Consumption =  748011.0
For  2011 / 6 Energy Source:  Coal (Short Tons) Monthly Consumption =  845333.0
For  2011 / 7 Energy Source:  Coal (Short Tons) Monthly Consumption =  1051469.0
For  2011 / 8 Energy Source:  Coal (Short Tons) Monthly Consumption =  887441.0
For  2011 / 9 Energy Source:  Coal (Short Tons) Monthly Consumption =  612069.0
For  2011 / 10 Energy Source:  Coal (Short Tons) Monthly Consumption =  560935.0
For  2011 / 11 Energy Source:  Coal (Short Tons) Monthly Consumption =  575903.0
For  2011 / 12 Energy Source:  Coal (Short Tons) Monthly Consumption =  553983.0
yearly Consumption 8948725.0
For  2012 / 1 Energy Source:  Coal (Short Tons) Monthly Consumption =  462294
For  2012 / 2 Energy Source:  Coal (Short Tons) Monthly Consumption =  371246
For  2012 / 3 Energy Source:  Coal (Short Tons) Monthly Consumption =  321676
For  2012 / 4 Energy Source:  Coal (Short Tons) Monthly Consumption =  355541
For  2012 / 5 Energy Source:  Coal (Short Tons) Monthly Consumption =  560872
For  2012 / 6 Energy Source:  Coal (Short Tons) Monthly Consumption =  554493
For  2012 / 7 Energy Source:  Coal (Short Tons) Monthly Consumption =  1003771
For  2012 / 8 Energy Source:  Coal (Short Tons) Monthly Consumption =  786434
For  2012 / 9 Energy Source:  Coal (Short Tons) Monthly Consumption =  607158
For  2012 / 10 Energy Source:  Coal (Short Tons) Monthly Consumption =  626242
For  2012 / 11 Energy Source:  Coal (Short Tons) Monthly Consumption =  773896
For  2012 / 12 Energy Source:  Coal (Short Tons) Monthly Consumption =  557687
yearly Consumption 6981310
For  2013 / 1 Energy Source:  Coal (Short Tons) Monthly Consumption =  616259.0
For  2013 / 2 Energy Source:  Coal (Short Tons) Monthly Consumption =  509167.0
For  2013 / 3 Energy Source:  Coal (Short Tons) Monthly Consumption =  602815.0
For  2013 / 4 Energy Source:  Coal (Short Tons) Monthly Consumption =  287644.0
For  2013 / 5 Energy Source:  Coal (Short Tons) Monthly Consumption =  393879.0
For  2013 / 6 Energy Source:  Coal (Short Tons) Monthly Consumption =  697522.0
For  2013 / 7 Energy Source:  Coal (Short Tons) Monthly Consumption =  815933.0
For  2013 / 8 Energy Source:  Coal (Short Tons) Monthly Consumption =  606554.0
For  2013 / 9 Energy Source:  Coal (Short Tons) Monthly Consumption =  528120.0
For  2013 / 10 Energy Source:  Coal (Short Tons) Monthly Consumption =  561295.0
For  2013 / 11 Energy Source:  Coal (Short Tons) Monthly Consumption =  590683.0
For  2013 / 12 Energy Source:  Coal (Short Tons) Monthly Consumption =  606098.0
yearly Consumption 6815969.0
For  2014 / 1 Energy Source:  Coal (Short Tons) Monthly Consumption =  1001458.0
For  2014 / 2 Energy Source:  Coal (Short Tons) Monthly Consumption =  846380.0
For  2014 / 3 Energy Source:  Coal (Short Tons) Monthly Consumption =  909564.0
For  2014 / 4 Energy Source:  Coal (Short Tons) Monthly Consumption =  524961.0
For  2014 / 5 Energy Source:  Coal (Short Tons) Monthly Consumption =  614716.0
For  2014 / 6 Energy Source:  Coal (Short Tons) Monthly Consumption =  609611.0
For  2014 / 7 Energy Source:  Coal (Short Tons) Monthly Consumption =  625692.0
For  2014 / 8 Energy Source:  Coal (Short Tons) Monthly Consumption =  454788.0
For  2014 / 9 Energy Source:  Coal (Short Tons) Monthly Consumption =  550768.0
For  2014 / 10 Energy Source:  Coal (Short Tons) Monthly Consumption =  416679.0
For  2014 / 11 Energy Source:  Coal (Short Tons) Monthly Consumption =  444572.0
For  2014 / 12 Energy Source:  Coal (Short Tons) Monthly Consumption =  454506.0
yearly Consumption 7453695.0
For  2015 / 1 Energy Source:  Coal (Short Tons) Monthly Consumption =  662307
For  2015 / 2 Energy Source:  Coal (Short Tons) Monthly Consumption =  874124
For  2015 / 3 Energy Source:  Coal (Short Tons) Monthly Consumption =  498296
For  2015 / 4 Energy Source:  Coal (Short Tons) Monthly Consumption =  312952
For  2015 / 5 Energy Source:  Coal (Short Tons) Monthly Consumption =  574935
For  2015 / 6 Energy Source:  Coal (Short Tons) Monthly Consumption =  665583
For  2015 / 7 Energy Source:  Coal (Short Tons) Monthly Consumption =  690879
For  2015 / 8 Energy Source:  Coal (Short Tons) Monthly Consumption =  493720
For  2015 / 9 Energy Source:  Coal (Short Tons) Monthly Consumption =  470670
For  2015 / 10 Energy Source:  Coal (Short Tons) Monthly Consumption =  323016
For  2015 / 11 Energy Source:  Coal (Short Tons) Monthly Consumption =  253769
For  2015 / 12 Energy Source:  Coal (Short Tons) Monthly Consumption =  225973
yearly Consumption 6046224
For  2016 / 1 Energy Source:  Coal (Short Tons) Monthly Consumption =  463683
For  2016 / 2 Energy Source:  Coal (Short Tons) Monthly Consumption =  501138
For  2016 / 3 Energy Source:  Coal (Short Tons) Monthly Consumption =  443367
For  2016 / 4 Energy Source:  Coal (Short Tons) Monthly Consumption =  290907
For  2016 / 5 Energy Source:  Coal (Short Tons) Monthly Consumption =  234699
For  2016 / 6 Energy Source:  Coal (Short Tons) Monthly Consumption =  554707
For  2016 / 7 Energy Source:  Coal (Short Tons) Monthly Consumption =  784890
For  2016 / 8 Energy Source:  Coal (Short Tons) Monthly Consumption =  790153
For  2016 / 9 Energy Source:  Coal (Short Tons) Monthly Consumption =  631719
For  2016 / 10 Energy Source:  Coal (Short Tons) Monthly Consumption =  455996
For  2016 / 11 Energy Source:  Coal (Short Tons) Monthly Consumption =  279744
For  2016 / 12 Energy Source:  Coal (Short Tons) Monthly Consumption =  451472
yearly Consumption 5882475
For  2017 / 1 Energy Source:  Coal (Short Tons) Monthly Consumption =  338694
For  2017 / 2 Energy Source:  Coal (Short Tons) Monthly Consumption =  207355
For  2017 / 3 Energy Source:  Coal (Short Tons) Monthly Consumption =  148882
For  2017 / 4 Energy Source:  Coal (Short Tons) Monthly Consumption =  65976
For  2017 / 5 Energy Source:  Coal (Short Tons) Monthly Consumption =  312902
For  2017 / 6 Energy Source:  Coal (Short Tons) Monthly Consumption =  321770
For  2017 / 7 Energy Source:  Coal (Short Tons) Monthly Consumption =  592532
For  2017 / 8 Energy Source:  Coal (Short Tons) Monthly Consumption =  377656
For  2017 / 9 Energy Source:  Coal (Short Tons) Monthly Consumption =  402215
For  2017 / 10 Energy Source:  Coal (Short Tons) Monthly Consumption =  256634
For  2017 / 11 Energy Source:  Coal (Short Tons) Monthly Consumption =  252483
For  2017 / 12 Energy Source:  Coal (Short Tons) Monthly Consumption =  397613
yearly Consumption 3674712
For  2018 / 1 Energy Source:  Coal (Short Tons) Monthly Consumption =  671901
For  2018 / 2 Energy Source:  Coal (Short Tons) Monthly Consumption =  259735
For  2018 / 3 Energy Source:  Coal (Short Tons) Monthly Consumption =  562887
For  2018 / 4 Energy Source:  Coal (Short Tons) Monthly Consumption =  306880
For  2018 / 5 Energy Source:  Coal (Short Tons) Monthly Consumption =  504187
For  2018 / 6 Energy Source:  Coal (Short Tons) Monthly Consumption =  370298
For  2018 / 7 Energy Source:  Coal (Short Tons) Monthly Consumption =  341923
For  2018 / 8 Energy Source:  Coal (Short Tons) Monthly Consumption =  335013
For  2018 / 9 Energy Source:  Coal (Short Tons) Monthly Consumption =  284013
For  2018 / 10 Energy Source:  Coal (Short Tons) Monthly Consumption =  137256
For  2018 / 11 Energy Source:  Coal (Short Tons) Monthly Consumption =  359462
For  2018 / 12 Energy Source:  Coal (Short Tons) Monthly Consumption =  248865
yearly Consumption 4382420
For  2019 / 1 Energy Source:  Coal (Short Tons) Monthly Consumption =  308274
For  2019 / 2 Energy Source:  Coal (Short Tons) Monthly Consumption =  120546
For  2019 / 3 Energy Source:  Coal (Short Tons) Monthly Consumption =  216880
For  2019 / 4 Energy Source:  Coal (Short Tons) Monthly Consumption =  51481
For  2019 / 5 Energy Source:  Coal (Short Tons) Monthly Consumption =  194386
For  2019 / 6 Energy Source:  Coal (Short Tons) Monthly Consumption =  160463
For  2019 / 7 Energy Source:  Coal (Short Tons) Monthly Consumption =  366303
For  2019 / 8 Energy Source:  Coal (Short Tons) Monthly Consumption =  344348
For  2019 / 9 Energy Source:  Coal (Short Tons) Monthly Consumption =  300041
For  2019 / 10 Energy Source:  Coal (Short Tons) Monthly Consumption =  126344
For  2019 / 11 Energy Source:  Coal (Short Tons) Monthly Consumption =  215933
For  2019 / 12 Energy Source:  Coal (Short Tons) Monthly Consumption =  150808
yearly Consumption 2555807
For  2020 / 1 Energy Source:  Coal (Short Tons) Monthly Consumption =  74147
For  2020 / 2 Energy Source:  Coal (Short Tons) Monthly Consumption =  37557
For  2020 / 3 Energy Source:  Coal (Short Tons) Monthly Consumption =  30212
For  2020 / 4 Energy Source:  Coal (Short Tons) Monthly Consumption =  45857
For  2020 / 5 Energy Source:  Coal (Short Tons) Monthly Consumption =  58220
For  2020 / 6 Energy Source:  Coal (Short Tons) Monthly Consumption =  241928
For  2020 / 7 Energy Source:  Coal (Short Tons) Monthly Consumption =  400568
For  2020 / 8 Energy Source:  Coal (Short Tons) Monthly Consumption =  206813
For  2020 / 9 Energy Source:  Coal (Short Tons) Monthly Consumption =  140414
For  2020 / 10 Energy Source:  Coal (Short Tons) Monthly Consumption =  84502
For  2020 / 11 Energy Source:  Coal (Short Tons) Monthly Consumption =  51793
For  2020 / 12 Energy Source:  Coal (Short Tons) Monthly Consumption =  156447
yearly Consumption 1528458
For  2021 / 1 Energy Source:  Coal (Short Tons) Monthly Consumption =  325732
For  2021 / 2 Energy Source:  Coal (Short Tons) Monthly Consumption =  460293
For  2021 / 3 Energy Source:  Coal (Short Tons) Monthly Consumption =  160485
For  2021 / 4 Energy Source:  Coal (Short Tons) Monthly Consumption =  15006
For  2021 / 5 Energy Source:  Coal (Short Tons) Monthly Consumption =  137872
For  2021 / 6 Energy Source:  Coal (Short Tons) Monthly Consumption =  278040
For  2021 / 7 Energy Source:  Coal (Short Tons) Monthly Consumption =  336680
For  2021 / 8 Energy Source:  Coal (Short Tons) Monthly Consumption =  313623
For  2021 / 9 Energy Source:  Coal (Short Tons) Monthly Consumption =  196106
For  2021 / 10 Energy Source:  Coal (Short Tons) Monthly Consumption =  121374

For  2021 / 11 Energy Source:  Coal (Short Tons) Monthly Consumption =  107508
For  2021 / 12 Energy Source:  Coal (Short Tons) Monthly Consumption =  93668
yearly Consumption 2546387

In [25]:
print(yearly_consumption)

2546387

In [ ]:
# for row in range(0, len(df_md)):
#     for column in range(0,6):
#         print(df_md.iloc[row][column])

In [ ]:
# display(df_md.to_string())

In [26]:
print("yearly Consumption", yearly_consumption)

yearly Consumption 2546387